In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Cuamba,MZ,-14.8031,36.5372,63.41,86,5,4.21,clear sky,2022-05-02 04:37:25
1,1,Albany,US,42.6001,-73.9662,57.61,51,100,4.59,overcast clouds,2022-05-02 04:37:26
2,2,Mataura,NZ,-46.1927,168.8643,63.48,68,44,2.21,scattered clouds,2022-05-02 04:37:26
3,3,Bredasdorp,ZA,-34.5322,20.0403,54.57,93,98,5.03,overcast clouds,2022-05-02 04:37:26
4,4,Cape Town,ZA,-33.9258,18.4232,62.11,83,0,1.14,clear sky,2022-05-02 04:36:13

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
11,11,Rikitea,PF,-23.1203,-134.9692,76.62,73,99,6.33,overcast clouds,2022-05-02 04:37:30
14,14,Mayumba,GA,-3.4320,10.6554,77.23,91,84,4.59,broken clouds,2022-05-02 04:37:30
17,17,Kulhudhuffushi,MV,6.6221,73.0700,85.66,75,90,17.40,overcast clouds,2022-05-02 04:37:32
18,18,Avarua,CK,-21.2078,-159.7750,80.65,78,75,2.30,broken clouds,2022-05-02 04:37:32
20,20,Atuona,PF,-9.8000,-139.0333,78.49,81,100,15.37,light rain,2022-05-02 04:35:58
24,24,Buala,SB,-8.1450,159.5921,84.18,71,68,4.61,broken clouds,2022-05-02 04:37:34
33,33,San Cristobal,VE,7.7669,-72.2250,75.38,96,89,3.20,overcast clouds,2022-05-02 04:37:37
34,34,Hambantota,LK,6.1241,81.1185,88.14,79,20,10.36,few clouds,2022-05-02 04:37:37
36,36,Blackwater,AU,-23.5833,148.8833,80.85,45,95,10.80,overcast clouds,2022-05-02 04:37:38
38,38,Nelson Bay,AU,-32.7167,152.1500,75.09,63,12,9.15,few clouds,2022-05-02 04:37:38

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                181
City                   181
Country                181
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Current Description    181
Date                   181
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                181
City                   181
Country                181
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Current Description    181
Date                   181
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
11,11,Rikitea,PF,-23.1203,-134.9692,76.62,73,99,6.33,overcast clouds,2022-05-02 04:37:30
14,14,Mayumba,GA,-3.4320,10.6554,77.23,91,84,4.59,broken clouds,2022-05-02 04:37:30
17,17,Kulhudhuffushi,MV,6.6221,73.0700,85.66,75,90,17.40,overcast clouds,2022-05-02 04:37:32
18,18,Avarua,CK,-21.2078,-159.7750,80.65,78,75,2.30,broken clouds,2022-05-02 04:37:32
20,20,Atuona,PF,-9.8000,-139.0333,78.49,81,100,15.37,light rain,2022-05-02 04:35:58
...,...,...,...,...,...,...,...,...,...,...,...
667,667,Galle,LK,6.0367,80.2170,84.36,79,99,13.51,overcast clouds,2022-05-02 04:41:43
671,671,Basco,PH,20.4487,121.9702,78.75,82,100,23.62,overcast clouds,2022-05-02 04:41:45
679,679,Sibu,MY,2.3000,111.8167,86.31,74,40,3.44,scattered clouds,2022-05-02 04:41:48
680,680,Hewitt,US,31.4624,-97.1958,77.09,83,0,17.27,clear sky,2022-05-02 04:41:48
681,681,Yelandur,IN,12.0667,77.0333,81.75,40,99,6.80,overcast clouds,2022-05-02 04:41:49

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Rikitea,PF,76.62,overcast clouds,-23.1203,-134.9692,
14,Mayumba,GA,77.23,broken clouds,-3.4320,10.6554,
17,Kulhudhuffushi,MV,85.66,overcast clouds,6.6221,73.0700,
18,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,
20,Atuona,PF,78.49,light rain,-9.8000,-139.0333,
24,Buala,SB,84.18,broken clouds,-8.1450,159.5921,
33,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,
34,Hambantota,LK,88.14,few clouds,6.1241,81.1185,
36,Blackwater,AU,80.85,overcast clouds,-23.5833,148.8833,
38,Nelson Bay,AU,75.09,few clouds,-32.7167,152.1500,

In [11]:
len(hotel_df)

181

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Rikitea,PF,76.62,overcast clouds,-23.1203,-134.9692,Rikitea
14,Mayumba,GA,77.23,broken clouds,-3.4320,10.6554,Mayumba
17,Kulhudhuffushi,MV,85.66,overcast clouds,6.6221,73.0700,Kulhudhuffushi
18,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Avarua District
20,Atuona,PF,78.49,light rain,-9.8000,-139.0333,Atuona

In [15]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [18]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))